
  <!-- <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <h2>About Company Page</h2>
        <h4>Lorem ipsum..</h4>
        <p>Lorem ipsum..</p>
        <button class="btn btn-default btn-lg">Get in Touch</button>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-signal logo"></span>


      </div>
    </div>
  </div>

  <div class="container-fluid bg-grey">
    <div class="row">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-globe logo"></span>
      </div>
      <div class="col-sm-8">
        <h2>Our Values</h2>
        <h4><strong>MISSION:</strong> Our mission lorem ipsum..</h4>
        <p><strong>VISION:</strong> Our vision Lorem ipsum..</p>
      </div>
    </div>
  </div> -->
  <div class="container-fluid">
  <!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" (click)="ShowPartnerList()" aria-expanded="false" aria-controls="collapseExample">
    Show Partner List
  </button> -->


  <!-- <div class="collapse" id="collapseExample"> -->
    <div class="card card-body">
      We partner with:
    
  <div class="row">
    <div class="col">
        <img src="../../assets/Img/nueron.jpg" class="rounded mx-auto d-block" style="height: 200px;width: 200px"  alt="...">
      
    </div>
    <div class="col">
        <img src="../../assets/Img/partner_,mpbiomedicals.jpg" class="rounded mx-auto d-block" style="height: 200px;width: 200px" alt="...">
      
    </div>
    <div class="col">
      <img src="../../assets/Img/partner_genei.jpg" class="rounded mx-auto d-block" style="height: 200px;width: 200px" alt="...">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <img src="../../assets/Img/partner_sisco.jpg" class="rounded mx-auto d-block" style="height: 200px;width: 200px" alt="...">
    </div>
    <div class="col">
      <img src="../../assets/Img/nueron.jpg" class="rounded mx-auto d-block" style="height: 200px;width: 200px"  alt="...">
    </div>
    <div class="col">
        <img src="../../assets/Img/partner_falcon.jpg" class="rounded mx-auto d-block" style="height: 200px;width: 200px"  alt="...">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <img src="../../assets/Img/molecules.jpg" class="rounded mx-auto d-block" style="height: 200px;width: 200px" alt="...">
    </div>
    <div class="col">
      <img src="../../assets/Img/partner_takara_dkls.jpg" class="rounded mx-auto d-block" style="height: 200px;width: 200px"  alt="...">
    </div>
    <div class="col">
      <img src="../../assets/Img/twist.jpg" class="rounded mx-auto d-block" style="height: 200px;width: 200px" alt="...">
    </div>
  </div>
</div>
<!-- </div> -->

</div>
