<!--<h1>Counter</h1>

<p>This is a simple example of an Angular component.</p>

<p>Current count: <strong>{{ currentCount }}</strong></p>

<button class="btn btn-primary" (click)="incrementCounter()">Increment</button>

<div class="container">
  <div class="jumbotron">
    <p>Products</p>

    <div class="row">
      <div class="media col-4">
        <img src="../../assets/Img/Desert.png" class="align-self-start mr-3" alt="..." />
        <div class="media-body">
          <h5 class="mt-0">Laboratory Chemicals</h5>
          <p>Some text</p>
          <p>Some text</p>
        </div>
      </div>

      <div class="media col-4">
        <img src="../../assets/Img/Desert.png" class="align-self-start mr-3" alt="..." />
        <div class="media-body">
          <h5 class="mt-0">Pesticides</h5>
          <p>Some text</p>
          <p>Some text</p>
        </div>

      </div>

      <div class="media col-4">
        <img src="../../assets/Img/Desert.png" class="align-self-start mr-3" alt="..." />
        <div class="media-body">
          <h5 class="mt-0">Fertilizers</h5>
          <p>Some text</p>
          <p>Some text</p>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="media col-4">
        <img src="../../assets/Img/Desert.png" class="align-self-start mr-3" alt="..." />
        <div class="media-body">
          <h5 class="mt-0">Some text</h5>
          <p>Some text</p>
          <p>Some text</p>
        </div>
      </div>

      <div class="media col-4">
        <img src="../../assets/Img/Desert.png" class="align-self-start mr-3" alt="..." />
        <div class="media-body">
          <h5 class="mt-0">Some text</h5>
          <p>Some text</p>
          <p>Some text</p>
        </div>

      </div>

      <div class="media col-4">
        <img src="../../assets/Img/Desert.png" class="align-self-start mr-3" alt="..." />
        <div class="media-body">
          <h5 class="mt-0">Some text</h5>
          <p>Some text</p>
          <p>Some text</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="media col-4">
        <img src="../../assets/Img/Desert.png" class="align-self-start mr-3" alt="..." />
        <div class="media-body">
          <h5 class="mt-0">Some text</h5>
          <p>Some text</p>
          <p>Some text</p>
        </div>
      </div>

      <div class="media col-4">
        <img src="../../assets/Img/Desert.png" class="align-self-start mr-3" alt="..." />
        <div class="media-body">
          <h5 class="mt-0">Some text</h5>
          <p>Some text</p>
          <p>Some text</p>
        </div>

      </div>

      <div class="media col-4">
        <img src="../../assets/Img/Desert.png" class="align-self-start mr-3" alt="..." />
        <div class="media-body">
          <h5 class="mt-0">Some text</h5>
          <p>Some text</p>
          <p>Some text</p>
        </div>
      </div>
    </div>


  </div>
</div>-->


<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Theme Company</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="container-fluid text-center">
    <h2>SERVICES</h2>
    <h4>What we offer</h4>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-off"></span>
        <h4>POWER</h4>
        <p>Lorem ipsum dolor sit amet..</p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-heart"></span>
        <h4>LOVE</h4>
        <p>Lorem ipsum dolor sit amet..</p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-lock"></span>
        <h4>JOB DONE</h4>
        <p>Lorem ipsum dolor sit amet..</p>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-leaf"></span>
        <h4>GREEN</h4>
        <p>Lorem ipsum dolor sit amet..</p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-certificate"></span>
        <h4>CERTIFIED</h4>
        <p>Lorem ipsum dolor sit amet..</p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-wrench"></span>
        <h4>HARD WORK</h4>
        <p>Lorem ipsum dolor sit amet..</p>
      </div>
    </div>
  </div>
</body>
