
<div class="row"> 
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/Img/KammaYashu.jpg" style="height: 250px;width: 250px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Iron Man</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Kamma Yashu</a>
            </div>
          </div>
        </div>
<div class="col">
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." style="height: 250px;width: 250px" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Thor</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Brahmam Kota</a>
    </div>
  </div>
</div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/Img/Hulk.jpg" style="height: 250px;width: 250px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Hulk</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Rajesh</a>
            </div>
          </div>
        </div>
</div>
<div class="row"> 
    <div class="col">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/Img/DileepChowdary.jpg" style="height: 250px;width: 250px" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">YET TO FIT</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Dileep Chowdary</a>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/Img/AyinampudiRaviKiran.jpg" style="height: 250px;width: 250px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Captain America</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">RaviKiran Ayinampudi</a>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/Img/GaneshKoka.jpg" style="height: 250px;width: 250px" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Hawk Eye</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Ganesh Chowdary</a>
                </div>
              </div>
            </div>
    </div>
    <div class="row"> 
        <div class="col">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/Img/GaganReddy.jpg" style="height: 250px;width: 250px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Spider Man</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">GAGAN REDDY</a>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/Img/PotlaSiva.jpg" style="height: 250px;width: 250px" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Vision</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Siva Potla</a>
                </div>
              </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="..." style="height: 250px;width: 250px" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">War Machine</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
        </div>