<!--<div class="jumbotron">
  <h1 class="display-4">GK Life Sciences</h1>
  <p class="lead">We are quality traders with a wide variety of services delivered. What areyou waitng for? Come experience the commitment in our broad range of services.</p>
  <p>What do we offer?</p>

  <div class="row">
    <div class="media col-4">
      <img src="../../assets/Img/Desert.png" class="align-self-start mr-3" alt="..." />
      <div class="media-body">
        <h5 class="mt-0">Some text</h5>
        <p>Some text</p>
        <p>Some text</p>
      </div>
    </div>

    <div class="media col-4">
      <img src="../../assets/Img/Desert.png" class="align-self-start mr-3" alt="..." />
      <div class="media-body">
        <h5 class="mt-0">Some text</h5>
        <p>Some text</p>
        <p>Some text</p>
      </div>

    </div>

    <div class="media col-4">
      <img src="../../assets/Img/Desert.png" class="align-self-start mr-3" alt="..." />
      <div class="media-body">
        <h5 class="mt-0">Some text</h5>
        <p>Some text</p>
        <p>Some text</p>
      </div>
    </div>
  </div>



  <div class="row">&nbsp;</div>

  <div class="row">
    <div class="col-md-4">
      <h2>Our Products</h2>
      <p>
        We deal in serving a wide range of products from laboratory chemicals to agriculture pesticides.
        Explore our products.
      </p>
      <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>About Us</h2>
      <p>We are an emerging chemical traders. Click here to know more about us.</p>
      <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Contact Us</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <ul> <li></li></ul>
        </div>
      </div>
    </div>
  </div>

</div>-->
<!--<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Theme Company</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="jumbotron text-center">
    <h1>Company</h1>
    <p>We specialize in blablabla</p>
    <form class="form-inline">
      <div class="input-group">
        <input type="email" class="form-control" size="50" placeholder="Email Address" required>
        <div class="input-group-btn">
          <button type="button" class="btn btn-danger">Subscribe</button>
        </div>
      </div>
    </form>
  </div>

  <app-counter-component></app-counter-component>

</body>
</html>-->



<!--<!DOCTYPE html>
<html lang="en">
<head>-->
  <!-- Theme Made By www.w3schools.com -->
  <title>Bootstrap Theme Company Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<!--</head>-->


  <!--<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#myPage">Logo</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#about">ABOUT</a></li>
          <li><a href="#services">SERVICES</a></li>
          <li><a href="#portfolio">PORTFOLIO</a></li>
          <li><a href="#pricing">PRICING</a></li>
          <li><a href="#contact">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </nav>-->

  <div class="jumbotron text-center">
    <h1>GK Life Sciences</h1>
    <p class="lead">We are quality traders with a wide variety of services delivered. What areyou waitng for? Come experience the commitment in our broad range of services.</p>
    <p>Subscribe to our news letters for better deals /quotes every month.</p>
    <form>
      <div class="input-group">
        <input type="email" class="form-control" size="50" placeholder="Email Address" required>
        <div class="input-group-btn">
          <button type="button" class="btn btn-danger">Subscribe</button>
        </div>
      </div>
    </form>
  </div>

  <!-- Container (About Section) -->
  <div id="about" class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <h2>About GK Life Sciences</h2><br>
                                       <h4>
                                         We deal in serving a wide range of products from laboratory chemicals to agriculture pesticides.Explore our products.
                                       </h4><br>
                                            <h4>
                                              <p> We are an emerging chemical traders..</p>
                                            </h4>
                                              <br><button class="btn btn-default btn-lg">Get in Touch</button>

</div>
      <div class="col-sm-4 slideanim">
        <span class="glyphicon glyphicon-signal logo-green"></span>
      </div>
    </div>
  </div>

  <div class="container-fluid bg-grey">
    <div class="row">
      <div class="col-sm-4 slideanim">
        <span class="glyphicon glyphicon-globe logo"></span>
      </div>
      <div class="col-sm-8">
        <h2>Our Values</h2><br>
        <h4><strong>MISSION:</strong> Our mission is to establish a qulity chemical trading with the perfect blend chemicals and highly sophisticated equipment to yield better results in your experiments and researches.</h4><br>
        <p>
          <strong>VISION:</strong> Our vision is to deal with the passion of your dreams and be a renewable part of your success.
        </p>
      </div>
    </div>
  </div>

  <!-- Container (Services Section) -->
  <div id="services" class="container-fluid text-center">
    <h2>SERVICES</h2>
    <h4>What we offer</h4>
    <br>
    <div class="row slideanim">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-off logo-small"></span>
        <h4>POWER</h4>
        <p>Timely material supply</p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-heart logo-small"></span>
        <h4>LOVE</h4>
        <p>We are committed to the work we do and love it.</p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-lock logo-small"></span>
        <h4>JOB DONE</h4>
        <p>We take care of your orders at every step untill they reach you.</p>
      </div>
    </div>
    <br><br>
    <div class="row slideanim">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-leaf logo-green-small"></span>
        <h4>GREEN</h4>
        <p>......</p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-certificate logo-small"></span>
        <h4>CERTIFIED</h4>
        <p>.....</p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-wrench logo-small"></span>
        <h4 style="color:#303030;">HARD WORK</h4>
        <p>.....</p>
      </div>
    </div>
  </div>

  <!-- Container (Portfolio Section) -->
  <div id="portfolio" class="container-fluid text-center bg-grey">
    <h2>Portfolio</h2><br>
    <h4>What we have created</h4>
    <div class="row text-center slideanim">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="../../assets/Img/Lighthouse.jpg" alt="Paris" width="400" height="300">          
          <p><strong>Desert</strong></p>
          <p>Chemicals</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="../../assets/Img/GKLS_Brands.jpeg" alt="New York" width="400" height="300">
          <p><strong>Visiting Card</strong></p>
          <p>Visiting card</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="../../assets/Img/Jellyfish.jpg" alt="New York" width="400" height="300">
          <p><strong>Lab Equipment</strong></p>
          <p>Lab Equipment</p>
        </div>
      </div>
    </div><br>


    <div id="portfolio" class="container-fluid text-center bg-grey">
        <h2>Portfolio</h2><br>
    <div class="row text-center slideanim">
        <div class="col">
            <img src="../../assets/Img/nueron.jpg" class="rounded mx-auto d-block" style="height: 200px;width: 200px"  alt="...">
          
        </div>
        <div class="col">
            <img src="../../assets/Img/partner_,mpbiomedicals.jpg" class="rounded mx-auto d-block" style="height: 200px;width: 200px" alt="...">
          
        </div>
        <div class="col">
          <img src="../../assets/Img/partner_genei.jpg" class="rounded mx-auto d-block" style="height: 200px;width: 200px" alt="...">
        </div>
      </div>
    
      <div class="row text-center slideanim">
        <div class="col">
          <img src="../../assets/Img/partner_sisco.jpg" class="rounded mx-auto d-block" style="height: 200px;width: 200px" alt="...">
        </div>
        <div class="col">
          <img src="../../assets/Img/nueron.jpg" class="rounded mx-auto d-block" style="height: 200px;width: 200px"  alt="...">
        </div>
        <div class="col">
            <img src="../../assets/Img/partner_falcon.jpg" class="rounded mx-auto d-block" style="height: 200px;width: 200px"  alt="...">
        </div>
      </div>
    
      <div class="row text-center slideanim">
        <div class="col">
          <img src="../../assets/Img/molecules.jpg" class="rounded mx-auto d-block" style="height: 200px;width: 200px" alt="...">
        </div>
        <div class="col">
          <img src="../../assets/Img/partner_takara_dkls.jpg" class="rounded mx-auto d-block" style="height: 200px;width: 200px"  alt="...">
        </div>
        <div class="col">
          <img src="../../assets/Img/twist.jpg" class="rounded mx-auto d-block" style="height: 200px;width: 200px" alt="...">
        </div>
      </div>
      </div>


    <h2>What our customers say</h2>
    <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <h4>"This company is the best. I am so happy with the result!"<br><span>Michael Roe, Vice President, Comment Box</span></h4>
        </div>
        <div class="item">
          <h4>"One word... WOW!!"<br><span>John Doe, Salesman, Rep Inc</span></h4>
        </div>
        <div class="item">
          <h4>"Could I... BE any more happy with this company?"<br><span>Chandler Bing, Actor, FriendsAlot</span></h4>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <!-- Container (Pricing Section) -->
  <div id="pricing" class="container-fluid">
    <div class="text-center">
      <h2>Pricing</h2>
      <h4>Choose a payment plan that works for you</h4>
    </div>
    <div class="row slideanim">
      <div class="col-sm-4 col-xs-12">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h1>Basic</h1>
          </div>
          <div class="panel-body">
            <p><strong>20</strong> Nitrogen</p>
            <p><strong>15</strong> Sodium</p>
            <p><strong>5</strong> Phosphorous</p>
            <p><strong>2</strong> Chlorine</p>
            <p><strong>Endless</strong> Potassium</p>
          </div>
          <div class="panel-footer">
            <h3>Rs 19</h3>
            <h4>per month</h4>
            <button class="btn btn-lg">Sign Up</button>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h1>Pro</h1>
          </div>
          <div class="panel-body">
            <p><strong>50</strong> Nitrogen</p>
            <p><strong>25</strong> Sodium</p>
            <p><strong>5</strong>Phosphorous</p>
            <p><strong>5</strong> Sit</p>
            <p><strong>Endless</strong> Amet</p>
          </div>
          <div class="panel-footer">
            <h3>Rs. 85</h3>
            <h4>per month</h4>
            <button class="btn btn-lg">Sign Up</button>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h1>Premium</h1>
          </div>
          <div class="panel-body">
            <p><strong>100</strong> Lorem</p>
            <p><strong>50</strong> Ipsum</p>
            <p><strong>25</strong> Dolor</p>
            <p><strong>10</strong> Sit</p>
            <p><strong>Endless</strong> Amet</p>
          </div>
          <div class="panel-footer">
            <h3>Rs. 185</h3>
            <h4>per month</h4>
            <button class="btn btn-lg">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Container (Contact Section) -->
  <div id="contact" class="container-fluid bg-grey">
    <h2 class="text-center">CONTACT</h2>
    <div class="row">
      <div class="col-sm-5">
        <p>Contact us and we'll get back to you within 24 hours.</p>
        <p><span class="glyphicon glyphicon-map-marker"></span> Guntur</p>
        <p><span class="glyphicon glyphicon-phone"></span> +91 9502459012, 9502329596</p>
        <p><span class="glyphicon glyphicon-envelope"></span> gklifesciences4u@gmail.com</p>
      </div>



      <div class="col-sm-7">
        <div class="row slideanim">
          <div class="col-sm-6 form-group">
            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
          </div>
          <div class="col-sm-6 form-group">
            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
          </div>
        </div>
        <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
        <div class="row">
          <div class="col-sm-12 form-group">
            <button class="btn btn-default pull-right" type="submit">Send</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row slideanim">
      <div class="col-md-12">
        <address>
          <ul class="list-group">

            <li class="list-group-item list-group-item-primary font-weight-bold">
              <div class="row">
                <div class="col-4">
                  Address1
                </div>
                <div class="col-4">
                  :
                </div>
                <div class="col-4">
                  D.No - 4-17-24
                </div>
              </div>
            </li>

            <li class="list-group-item list-group-item-light font-weight-bold">
              <div class="row">
                <div class="col-4">
                  Address1
                </div>
                <div class="col-4">
                  :
                </div>
                <div class="col-4">
                  8th lane, Vallurivari Thota
                </div>
              </div>
            </li>

            <li class="list-group-item list-group-item-success font-weight-bold">
              <div class="row">
                <div class="col-4">
                  Address3
                </div>
                <div class="col-4">
                  :
                </div>
                <div class="col-4">
                  Donka Road, Guntur,
                </div>
              </div>


            </li>
            <li class="list-group-item list-group-item-warning font-weight-bold">
              <div class="row">
                <div class="col-4">
                  Phone - <abbr title="Phone">P:</abbr>
                </div>
                <div class="col-4">
                  :
                </div>
                <div class="col-4">
                  9502459012, 9502329596
                </div>
              </div>
            </li>
            <li class="list-group-item list-group-item-dark font-weight-bold">
              <div class="row">
                <div class="col-4">
                  <strong>Support/Marketing</strong>
                </div>
                <div class="col-4">
                  <strong>:</strong>
                </div>
                <div class="col-4">
                 gklifesciences4u@gmail.com
                </div>
              </div>
            </li>
          </ul>
        </address>

      </div>
    </div>
   
  <!-- Image of location/map -->
  <img src="../../assets/Img/Office_Map.JPG" class="w3-image w3-greyscale-min" style="width:100%">

  <footer class="container-fluid text-center">
    <a href="#myPage" title="To Top">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <!-- <p>Powered by <a href="" title="Linkedln">Ayinampudi Ravi Kiran</a></p> -->




<!-- All the below lines for SEO filtering in google -->
<input type="hidden" id="Ganesh Koka" name="Ganesh Koka" value="0">
<input type="hidden" id="Koka Ganesh" name="Koka Ganesh" value="1">
<input type="hidden" id="ravikiranayinampudi" name="ravikiranayinampudi" value="2">
<input type="hidden" id="ravi kiran ayinampudi" name="ravi kiran ayinampudi" value="3">
<input type="hidden" id="raviayinampudi" name="raviayinampudi" value="4">
<input type="hidden" id="ayinampudiravi" name="ayinampudiravi" value="5">
<input type="hidden" id="ganeshkoka" name="ganeshkoka" value="6">
<input type="hidden" id="kokaganesh" name="kokaganesh" value="7">
<input type="hidden" id="gkls" name="gkls" value="8">
<input type="hidden" id="gk lifesciences" name="gk life sciences" value="9">

    

      <div class="row text-center">
          <div class="col">&nbsp;</div>
          <div class="col">
              Driven by  <a href="" title="Linkedln">Koka Ganesh</a>
          </div>
            <div class="col" style="top: -15px;">
                <img src="../../assets/Img/Ganesh_Ravikiran.jpg" class="img-responsive img-circle" style="height: 50px;width: 50px"  alt="...">
              </div>
        </div>
        <div class="row text-center">
            <div class="col">&nbsp;</div>
            <div class="col">
                Powered by  <a href="" title="Linkedln">Ayinampudi Ravi Kiran</a>
            </div>
            <div class="col" style="top: -15px;">
                  <img src="../../assets/Img/Ravi_Ganesh.jpg" class="img-responsive img-circle" style="height: 50px;width: 50px"  alt="...">
                </div>
          </div>

  </footer>

  <script>
   
  </script>


